<!DOCTYPE html>
<html lang="en">
<head>
<title>IP Editor</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/codemirror.css' />
<link rel='stylesheet' href='/stylesheets/dialog.css' />
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<link rel='stylesheet' href='/stylesheets/themes/ambiance.css' />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script src="/javascripts/index.js"></script>
<script src="/javascripts/codemirror.js"></script>
<script src="/javascripts/dialog.js"></script>
<script src="/javascripts/searchcursor.js"></script>
<script src="/javascripts/vim.js"></script>
<style type="text/css" media="screen">
</style>
</head>
<body>

<div class="navigator">
<button id="togglefilelist" type="button">Toggle File List</button>
</div>

<div class="filelist">
<% fileList.forEach(function(filename){ %>
    <li>
      <a href="#" class="fileLink" filename="<%=filename%>" url="/file/<%=filename%>/readSource" writeUrl="/file/<%=filename%>/writeSource"><%=filename%></a>
    </li>
<% }) %>
</div>

<div id="main">
    <textarea id="editor">
    </textarea>
</div>

<form class="submitbuffer"> 
</form>

<div class="searcher">
</div>

</body>
</html>
